.course-edit-body {
	&.is-frame {
		margin-top: 0;
	}

	@media (min-width: $screen-xs) {
		border-color: $course-border-color;
		border-style: $proposal-border-style;
	}
}

.proposed-courses {
    border: 1px solid $brand-primary;
    max-height: 200px;
    overflow: auto;
    width: 100%;
}

.proposed-courses > .dropdown-header {
    margin-top: 8.5px;
    text-align: left;
}
.proposed-courses > .dropdown-header > .fa {
    margin-right: 7px;
}