.alert-messages {
	position: fixed;
	left: 0;
	top: $navbar-height;
	width: 100%;
	z-index: $zindex-navbar-fixed - 1;
}

$message-fade-duration: .1s;

.alert-message {
	border-radius: 0;
	border-top: 0;
	opacity: 0;
	margin: 0;
	transition: opacity $message-fade-duration;

	&.is-faded-in {
		transition: opacity $message-fade-duration;
		opacity: 1;
	}
}

.alert-messages-spacer {
	height: 0;
	transition: height $message-fade-duration;
}
