<template name="alerts">
	<div class="alert-messages">
		{{#each alerts}}
			{{> alert}}
		{{/each}}
	</div>
	<div class="alert-messages-spacer"></div>
</template>

<template name="alert">
	<div class="alert alert-{{contextualClass}} alert-dismissible alert-message" role="alert">
		{{message}}
		<button
			aria-label="{{mf 'message.close' 'Close message'}}"
			class="close js-remove-alert"
			type="button">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
</template>
